*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ########## Colors ########## */
:root {
  --bg-color: linear-gradient(
    90deg,
    rgba(34, 195, 123, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  --fallback-bg-color: rgb(34, 195, 123);
  --link-hover: rgb(240, 221, 182);
  --black: black;
  --white: white;
  --blue: blue;
  --grey: grey;
  --nav-link-bg-color: darkgray;
  --border-color: #c0eed9;
}
/* ############################ */

html {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 23px;
  }
}

@media screen and (min-width: 992px) {
  .badge {
    position: fixed;
  }
}

@media print {
  .badge {
    display: none;
  }

  .navigation {
    display: none;
  }
}

body {
  margin: 0rem;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
}

.header {
  text-align: center;
  background: var(--fallback-bg-color);
  background: var(--bg-color);
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
  }
}

.nav-link {
  text-decoration: none;
  padding: 0.2rem 0.3rem;
  color: var(--black);
}

.nav-link:hover {
  color: var(--black);
  background-color: var(--link-hover);
  transition: background-color 0.5s;
}

.nav-link:active {
  color: var(--white);
  background-color: var(--nav-link-bg-color);
}
.nav-link:focus {
  color: var(--white);
  outline-color: var(--nav-link-bg-color);
  outline-style: dashed;
}

.main {
  padding: 2.2rem;
  margin: 0 auto;
  max-width: 80ch;
}

/* space between areas */
.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.1rem solid var(--border-color);
}

.main > *:first-child {
  border-top: none;
}

.main-article {
  display: grid;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
  }
  .main-article-content {
    margin-top: 4rem;
  }
}

.link {
  color: var(--blue);
}

.link:hover {
  background-color: var(--nav-link-hover);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

.title-group {
  font-size: 4rem;
}

.name {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " 💯 % !";
}

.exp-heading {
  display: inline-block;
}

.exp-subheading {
  display: inline-block;
  margin-left: 0.5rem;
}

.exp-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .exp-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

h2 {
  position: relative;
  left: -1.2rem;
}

.badge {
  position: absolute;
  top: 1.1rem;
  right: 1.1rem;
  padding: 0.3rem;
  opacity: 0.5;
  border: 0.01rem solid var(--grey);
  border-radius: 0.3rem;
  background: var(--border-color);
  transform-origin: top right;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.header:hover .badge,
.header:focus-within .badge {
  opacity: 1;
  transform: scale(1.5);
}

#profile,
#experience,
#skills,
#contact {
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer {
  text-align: center;
  background: var(--fallback-bg-color);
  background: var(--bg-color);
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  width: 100%;
  margin: 0 auto;
}
