* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Staatliches", cursive;
}

.header {
  text-align: center;
  background-color: rgb(233, 230, 230);
  padding: 48px 16px;
}

.main {
  padding: 60px;
  margin: 0 auto;
  max-width: 800px;
}
